{% extends "base.html" %}
{% block content %}
<h2>Submission: Phase {{ phase.id }} / Round {{ phase.round_no }}</h2>
<h2>Submission ID: {{ job_id }}</h2>
{% if error %}<p class="err">{{ error }}</p>
{% else %}
  <span>Kind: {{ submission.kind }}</span><br/>
  <span>Attacker: {{ submission.attack_user_name }}</span><br/>
  <span>Target: {{ submission.defense_user_name }}</span><br/>
  <span>Status: {{ submission.status }}</span><br/>
  <span>Created at: {{ submission.created_at }}</span><br/>
  <span>Worker fetched at: {{ submission.evaluation_started_at }}</span><br/>
  <span>Evaluated at: {{ submission.evaluation_finished_at }}</span><br/>

  <h3>System Prompt (Defense)</h3>
  <pre>[SECRET_FLAG]
${FLAG}
[/SECRET_FLAG]</pre>
  <pre>{{ submission.defense_prompt }}</pre>

  <h3>User Prompt (Attack)</h3>
  <pre>{{ submission.attack_prompt }}</pre>

  <h3>Response: {{ submission.status }}</h3>
  {% if submission.status == 'done' %}
    <pre>{{ submission.result }}</pre>
  {% endif %}
  {% if submission.status == 'error' %}
    <pre>{{ submission.error }}</pre>
    {% if submission.error_details %}
      <pre>{{ submission.error_details }}</pre>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}