{% extends "base.html" %}
{% block content %}
<h2>Submissions: Phase {{ phase.id }} / Round {{ phase.round_no }}</h2>

<table border="1" cellpadding="6">
  <tr><th>time</th><th>phase</th><th>attacker</th><th>target</th><th>status</th></tr>
  {% for a in submissions %}
  <tr>
    <td><a href="/submission/{{ a.id }}">{{ a.created_at }}</a></td>
    <td>{{ a.round_no }}/{{ a.kind }}</td>
    <td>{{ a.attack_user_name }}</td>
    <td>{{ a.defense_user_name }}</td>
    <td>{{ a.status }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
